<div class="left-sidebar">
	<h2>Các loại cá</h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->
		
		<vc:Categories></vc:Categories>
		
		
	</div><!--/category-products-->

	<div class="brands_products">
		<!--brands_products-->
		<h2>Khác</h2>
		<vc:Brands></vc:Brands>
	</div><!--/brands_products-->


</div>
