<h4>Các loại cá cảnh</h4>

<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">Tất cả</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="freshwater-tab" data-toggle="tab" href="#freshwater" role="tab" aria-controls="freshwater" aria-selected="false">Cá nước ngọt</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="saltwater-tab" data-toggle="tab" href="#saltwater" role="tab" aria-controls="saltwater" aria-selected="false">Cá nước mặn</a>
        </li>
    </ul>
</div>
