@model ThiCuoiKy.Net.Models.UserModel

@{
	ViewData["Title"] = "Login";
}
<section id="form">
	<!--form-->
	<div class="container">

		<div class="col-sm-12  col-sm-offset-1">
			<div class="signup-form">
				<!--sign up form-->
				<h2>New User Signup!</h2>
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<form asp-action="Create" asp-controller="Account">
					<div class="form-group">
						<label>Tên đăng nhập</label>
						<input asp-for="UserName" class="form-control" />
						<span asp-validation-for="UserName" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Email" class="control-label"></label>
						<input asp-for="Email" class="form-control" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label>Mật khẩu</label>
						<input asp-for="Password" class="form-control" />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>

					<button type="submit" class="btn btn-default">Đăng kí</button>
				</form>
			</div><!--/sign up form-->
		</div>
	</div>
	</div>
</section><!--/form-->
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}