@model ThiCuoiKy.Net.Models.ProductModel
@{
    ViewData["Title"] = "Delete Product";
}

<h2>Xóa sản phẩm</h2>

<p>Bạn có chắc muốn xóa sản phẩm?</p>

<div>
    <h4>Chi tiết sản phẩm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label>Tên</label>
            @* @Html.DisplayNameFor(model => model.Name) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <!-- Add other product details here -->
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Hủy bỏ</a>
    </form>
</div>
